/* CSS declarations go here */
.panel-size{
    width: 220px;
    height:600px;
}
.text-center{
    text-align: center;
}
.container-size{
    max-width: 1000px;
}
.container-center{
    margin: 0 auto;
}
.main-size{
    max-width: 800px;
}
.main-background{
    background-color: white;
}
.main-list-size{
    height:200px;
    max-height: 200px;
    margin-bottom: 20px;
    margin-left: 240px;
    overflow: auto;
}
.main-board-size{
    max-height: 500px;
    margin-left: 240px;
}
.login-form{
    position: absolute;
}